link(href='style.css', rel='stylesheet')

header.navbar.navbar-static-top
    .col-xs-12
        .navbar-header
            a(href="#").navbar-brand RipQueue

.contentWrapper
    .Sidebar
        ul.PersonList
            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock1.jpg')
                        .textWrapper
                            h5 Simon Says
                            p 5 mins out

            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock2.jpg')
                        .textWrapper
                            h5 Simon Says
                            p 5 mins out
            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock3.jpg')
                        .textWrapper
                            h5 Simon Says
                            p 5 mins out

            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock4.jpg')
                        .textWrapper
                            h5 Simon Says
                            p 5 mins out
    .PrimaryContent
        .container-fluid.CardContainerWrapper
            .contentContainer
                .card
                    .row
                        .col-sm-8
                            h2 Susan Smith
                            p.bold Summary
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            br
                            p.bold Family History
                            p eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia
                            p consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            br
                            p.bold Medication
                            ul.listPadding
                                li Lorem ipsum dolor sit amet
                                li Consectetur adipiscing elit
                                li Sed do eiusmod tempor incididunt
                        .col-sm-4
                            img(src='./assets/images/Anatomy.png').anatomyImage
                    .row
                        .col-xs-12
                            .grid
                                div
                                    img(src='')
                                div
                                    img(src='')
                                div
                                    img(src='')
                                div
                                    img(src='')
                    .row
                        .Map
                    .row
                        .col-sm-4
                            p.bold Contact
                            p test details
                        .col-sm-4
                            p.bold Emergency Contact
                            p test details
                        .col-sm-4
                            p.bold Status
                            p test details