link(href='style.css', rel='stylesheet')

header.navbar.navbar-static-top
    .col-xs-12
        .navbar-header
            a(href="#").navbar-brand.logoWrapper
                img(src='./assets/images/logo.png')

.contentWrapper
    .Sidebar
        ul.PersonList
            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock1.jpg')
                        .textWrapper
                            h5 Cian O'Leary
                            p 5 mins out

            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock2.jpg')
                        .textWrapper
                            h5 Simon Says
                            p 8 mins out
            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock3.jpg')
                        .textWrapper
                            h5 Tylor Damien
                            p 12 mins out

            li
                a(href='#')
                    .entryWrapper.clearfix
                        .avatar
                            img(src='/assets/images/stock4.jpg')
                        .textWrapper
                            h5 Michael Grea
                            p 22 mins out
    .PrimaryContent
        .container-fluid.CardContainerWrapper
            .contentContainer
                .card
                    .row
                        .col-sm-8
                            h2 Cian O'Leary
                            p.bold Summary
                            p Young male injured in collapsing stairs in Lamington National park. Significant gash on upper knee and suspected broken wrist.
                            br
                            p.bold Family History
                            ul.listPadding
                                li History of Fainting
                                li Cardiac Arrhythmias
                            br
                            p.bold Allergies
                            ul.listPadding
                                li Shellfish
                                li Stupidity
                        .col-sm-4
                            img(src='./assets/images/Anatomy.png').anatomyImage
                    .row
                        .col-xs-12
                            .grid
                                div
                                    img(src='./assets/images/BrokenArm.jpg')
                                div
                                    img(src='./assets/images/kitten.jpg')
                                div
                                    img(src='./assets/images/fox.jpg')
                                div
                                    img(src='./assets/images/ankle.jpg')
                    .row
                        .Map
                            img(src='./assets/images/Map.png')
                    .row
                        .col-sm-4
                            p.bold Contact
                            p 0482 285 835
                        .col-sm-4
                            p.bold Emergency Contact
                            p 0492 053 032
                        .col-sm-4
                            p.bold Status
                            p In Route - 5 mins out